<!doctype html>
<html lang="en" xmlns:th="http:thymeleaf.org" th:replace="~{base :: layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title><h1>This is home Page</h1></title>
</head>
<body>




	<section>
	
	<div class="container">
	<div class="row">
	<div class="col-md-8 offset-md-2">

	<div class="my-card">
		<div th:if="${session.message}" th:classappend="${session.message.type}"  class="alert" role="alert">
 <p th:text="${session.message.content}">
 <th:block th:text="${session.removeAttribute('message')}"></th:block>
</div>
	<h1 class="text-center">Register Here !!</h1>
	<form   novalidate="novalidate"    th:action="@{/do_register}" method="post" th:object="${user}">
	
	  <div class="form-group">
    <label for="name_field" class="form-label" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' :''}">Your Name</label>
    <input type="text"  name="name" class="form-control" th:value="${user.name}"id="name_field" required="required" placeholder="Enter Name Here">
   <div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">
     
    </div>
  </div>
	  <div class="form-group">
    <label for="email_field" class="form-label">Email</label>
    <input type="text" name="email" class="form-control" th:value="${user.email}" id="email_field" required="required" placeholder="Enter Email Here">
 
  </div>
	  <div class="form-group">
    <label for="password_field" class="form-label">Password</label>
    <input type="text"  name="password" class="form-control" id="password_field" required="required" placeholder="Enter Password Here">
 
  </div>
 

	<div class="form-group">

    <textarea class="form-control"  name="about" th:value="${user.about}" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  
</div>
   <div class=" form-group form-check">
    <input type="checkbox" name="term_check" class="form-check-input"  id="term_check" required="required" placeholder="Enter Password Here"></input>
     <label for="term_check" class="form-label"> Accept Terms & Condition</label>
 
  </div>
	<div class="container text-center" style="margin-top: 10px;">
	
	<button class="btn bg-primary text-white">Submit</button>
		<button class="btn bg-primary text-white">Reset</button>
	</div>

	
	
	
	
	
	</form>
	
	
	
	</div>
	
	</div>
	
	</div>
	
	</div>
	</section>
</body>
</html>